* {
    margin: 0;
    padding: 0;
}

 
  body {
    background-color: #2b2929;
}

.container{
    position: absolute;
    width: 90%;
    right: 10px;
    transform: translate(0, -50%);
    top: 50%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

h1{
writing-mode: vertical-lr;   
display: inline;
background-color: #256DC1;
color: white;
padding: 15px;
height: 56%;
transform: rotate(180deg);
}

.container2 {
        position: absolute;
        width: 90%;
        Left: 1500px;
        transform: translate(0, -50%);
        top: 50%;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h2{
    writing-mode: vertical-lr;   
    display: inline;
    background-color: #C23838;
    color: white;
    font-size: 60px;
    text-size-adjust: 50px;
    padding: 30px;
    width: 40px;
    height: 60%;
    bottom: 30px;
    position: relative;
    justify-content: center;
    transform: rotate(0deg);
    }

#gameOver{
    display:none;
    font-size: 30px;
    margin: 0;
}

#gameContainer {
    width: 960px;
    height: 545px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.square:nth-child(8n + 3),
.square:nth-child(8n + 5),
.square:nth-child(8n + 6),
.square:nth-child(8n + 8){
    background-color: #fff;
}

.square {
    border: 3px solid gray; 
    resize: none;
    width: 20%;
    height: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131111;
}

.square p{
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    color:#cc1111
}



.notClicked:hover{
    background-color: green;
}

/*Start Screen*/

.enterName {
    position: relative;
    width: 20rem;
    margin: 100px;
    margin-left: 35px;
    color: black;
}

    
.form__input {
    position: absolute;
    top: 0;
    left: center;
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    border-radius: .5rem;
    color: black;
    outline: none;
    padding: 1.6rem;
    padding-right: 37px;
    background-color:none ;
}

.form__label{
    position: absolute;
    left: 1rem;
    top: .8rem;
    padding:0 0.5rem;
    color: white;
    cursor: text;
}

.start-Screen {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    display: none;
    position: fixed;
    top: 92px;
    left: 563px;
    right: 563px;
    bottom: 62px;
    background-color: rgba(0, 0, 0, .95);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 8rem;
    flex-direction: column;
}

.start-Screen button {
    position: absolute;
    top: 545px;
    left: center;
    padding-right: 145px;
    padding-left: 145px;
    color: white;
    font-size: 3rem;
    margin: 45px;
    background-color: #57E325;
    cursor: pointer;
    border-radius: .5rem;
}

.start-Screen button:hover {
    background-color: #cc1111;
    color: white;
    background-color: #cc1111;
}


.start-Screen.show {
     display: flex;
}

/*Player 1 Win Screen*/

.player-winner {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    display: none;
    position: fixed;
    top: 90px;
    left: 563px;
    right: 563px;
    bottom: 60px;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    flex-direction: column;
}

.player-winner button {
    color: black;
    font-size: 1.5rem;
    background-color: white;
    cursor: pointer;
    border: 1px solid white;
}

.player-winner button:hover {
    background-color: #cc1111;
    color: white;
    background-color: #cc1111;
}


.player-winner.show {
     display: flex;
}

/*Player 2 win screen*/

.player-winner-2 {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    display: none;
    position: fixed;
    top: 90px;
    left: 563px;
    right: 563px;
    bottom: 60px;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    flex-direction: column;
}

.player-winner-2 button {
    color: black;
    font-size: 1.5rem;
    background-color: white;
    cursor: pointer;
    border: 1px solid white;
}

.player-winner-2 button:hover {
    background-color: #cc1111;
    color: white;
    background-color: #cc1111;
}


.player-winner-2.show {
     display: flex;
}

/*Draw Screen*/

.Draw-Game {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    display: none;
    position: fixed;
    top: 90px;
    left: 563px;
    right: 563px;
    bottom: 60px;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    flex-direction: column;
}

.Draw-Game button{
    color: white;
    font-size: 1.5rem;
    background-color: #A42ACF;
    cursor: pointer;
    border: 1px solid white;
}

.Draw-Game button:hover {
    background-color: #57E325;
    color: white;
    background-color: #57E325;
}


.Draw-Game.show {
     display: flex;
}


/*Playernames and timer*/

.Player {
    display: flex;
    position: absolute;
    bottom: 790px;
    left: 565px;
    border: 2px solid white;
    font-size: 2rem;
    background-color: white;
    color: black;
    justify-items: center;
    height: 50px;
    padding-right: 28px;
    padding-left: 42px;
    justify-items: center;
}

.player-name {
    position: relative;
    justify-content: center;
    padding: 8px;
}


.Player2 {
    display: flex;
    position: absolute;
    bottom: 790px;
    left: 1161px;
    font-size: 2rem;
    color: white;
    background-color:black;
    border: .2px solid white;
    height: 52px;
    padding-right: 28px;
    padding-left: 42px;
    justify-items: center;
}

.player-name2 {
    position: relative;
    justify-content: center;
    padding: 8px;  
}


.timer {
    display: flex;
    position: absolute;
    bottom: 790px;
    left: 765px;
    border: .2px solid white;
    font-size: 2rem;
    background-color: black;
    color: #31A435;
    justify-items: center;
    height: 52px;
    padding-right: 143px;
    padding-left: 158px;
    justify-items: center;
}

.Draw {
    position: relative;
    justify-content: center;
    padding: 8px;
}

.win-Total {
    display: flex;
    position: absolute;
    left: 35.3rem;
    bottom: 5px;
    border: 2px solid white;
    font-size: 2rem;
    background-color: white;
    color: black;
    justify-items: center;
    height: 52px;
    padding-right: 35px;
    padding-left: 42px;
    justify-items: center;
}

.Wins {
    position: relative;
    justify-content: center;
    padding: 8px;   
}

.win-Total-2 {
    display: flex;
    position: absolute;
    left: 72.6rem;
    bottom: 5px;
    font-size: 2rem;
    color: white;
    background-color:black;
    border: .2px solid white;
    height: 52px;
    padding-right: 35px;
    padding-left: 42px;
}

.Wins-2 {
    position: relative;
    justify-content: center;
    padding: 8px;
}    

